@font-face {
    font-family: "flaticon";
    src: url("flaticon/Flaticon.ttf?cf5aeb7baeb32fe7793acb856a17cf35") format("truetype"),
url("flaticon/Flaticon.woff?cf5aeb7baeb32fe7793acb856a17cf35") format("woff"),
url("flaticon/Flaticon.woff2?cf5aeb7baeb32fe7793acb856a17cf35") format("woff2"),
url("flaticon/Flaticon.eot?cf5aeb7baeb32fe7793acb856a17cf35#iefix") format("embedded-opentype"),
url("flaticon/Flaticon.svg?cf5aeb7baeb32fe7793acb856a17cf35#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-twitter:before {
    content: "\f101";
}
.flaticon-youtube:before {
    content: "\f102";
}
.flaticon-github:before {
    content: "\f103";
}
.flaticon-podcast:before {
    content: "\f104";
}
.flaticon-rss:before {
    content: "\f105";
}
.flaticon-newsletter:before {
    content: "\f106";
}
.flaticon-calendar:before {
    content: "\f107";
}
.flaticon-announcement:before {
    content: "\f108";
}
.flaticon-share:before {
    content: "\f109";
}
.flaticon-linkedin:before {
    content: "\f10a";
}
.flaticon-buffer:before {
    content: "\f10b";
}
