@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Oxygen+Mono&family=Oxygen:wght@300;400;700&display=swap');
@import url('./flaticon.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

._button_normal {
  @apply  text-gray-800 bg-bellow-500 p-2 rounded-lg no-underline;
  &:hover {
    @apply ring-4;
  }
}

._button {
  @apply  font-bold _button_normal;
}

body main a, header a {
  @apply font-bold;
  &:hover {
    @apply underline;
  }
}

body > main a{
  @apply underline;
  &:hover {  
    @apply bg-bellow-300;
  
}
}
body > footer a {
  &:hover {
    @apply text-bellow-500;
  }
}

body > header {
  @apply p-2 xl:container mx-auto;
}

body > header > nav {
  @apply flex items-center duration-1000 z-50;
  top: -100%;
  transition-property: top;
}

body > header > nav > ol{
  @apply flex;
}

body > header > nav > ol > li {
  @apply flex;
}

body > header > nav > ol > li > a{
  @apply p-2 m-2;
}

body > header > nav > ol.logo {
  @apply flex-shrink-0;
}

body > header > nav > ol.logo img{
  @apply h-10 mr-8;
}
body.more-active {
  &.end-active > header > nav {
    top: calc(-125%);
  }
  & > main {
    @apply relative z-0;
  }
  & > header > nav {
    @apply bg-white w-screen absolute top-0 left-0 right-0 p-2 flex flex-col items-stretch bg-opacity-90 z-50 duration-1000;
    transition-property: top;
    @apply shadow-lg;
    & > ol.more {
      #menu {
        @apply absolute h-auto w-6 right-2;
        img {
          @apply h-auto w-full;
        }
      }
    }
    & > ol.menu, & > ol.menu ~ ol.menu {
      @apply contents;
      & > li > a {
        @apply flex flex-col text-xl w-full py-2 my-2 sm:text-4xl sm:py-4 sm:my-4;
      }
    }
    .logo {
      @apply mr-12 w-full;
      img {
        @apply w-full h-auto;
      }
    }  
  }
} 
body > header > nav > ol.more {
  @apply flex lg:hidden justify-end flex-grow;
  #menu {
    @apply z-50 top-8 mr-4;
    img {
      @apply h-6;
    }
  }
}
body > header > nav > ol.menu {  
  @apply hidden md:flex ;
}
body > header > nav > ol.menu ~ ol.menu{  
  @apply hidden lg:flex flex-grow justify-end;
}

body > main {
  @apply xl:container mx-auto;
  & > header {
    @apply lg:flex mx-6;
   & > main {
     @apply  lg:w-1/2 flex-none xl:items-stretch;
     & > header {
       @apply w-1/2 flex sm:w-full  self-start md:py-4;
       
       & > h1 {
         @apply text-5xl md:text-6xl xl:text-8xl xl:w-full font-black leading-normal md:leading-snug tracking-tight flex sm:w-1/2;
       }
     } 
     & > .hero  {
       @apply flex flex-col sm:flex-row xl:text-lg 2xl:text-xl mb-12  lg:flex-col lg:max-w-screen-md items-stretch;
       & > header {
         @apply my-4 sm:w-3/4 sm:my-0 flex sm:mr-4 lg:w-full;
         img{
           @apply object-cover rounded-lg;
         }
       }
       & > main {
         @apply flex flex-col items-center sm:text-lg md:text-xl  md:justify-between lg:my-4;
         
       
         & > footer {
           @apply flex w-full mt-4;
           & > a {
             @apply _button w-full text-center;
           }
         }
       }
       .text{
         @apply my-4 sm:my-0 flex flex-col justify-between font-thin;
       }
     }
   }
   & > footer {
     @apply hidden lg:flex flex-grow flex-1 flex-shrink m-4;
     video {
       @apply flex object-cover w-full;
     }
   }
  }
}




body > main h2 {
  @apply font-black text-xl;
}

body > main .services {
  @apply m-6 border-t-2 py-6;
}

body > main .services > header {
  @apply mx-auto flex flex-col text-center;
}

body > main .services img {
  @apply w-20 mx-auto my-3;
}

body > main .services ol {
  @apply md:grid md:grid-cols-3 md:gap-x-8;
}

body > main .services li {
  @apply my-4 py-4 md:border-t-0 md:mt-6;
}

body > main .services h3 {
  @apply text-lg text-center font-light;
}


body > main #testimonials  {
  @apply m-6 border-t-2 py-6;
}

body > main #testimonials > header {
  @apply mx-auto flex flex-col text-center pb-2 md:py-4;
}

body > main #testimonials > ol {
  @apply text-center py-2 md:grid md:grid-cols-3 md:gap-x-8;
}

body > main #testimonials > ol > li {
  @apply py-4 border-t-2 border-gray-400 border-opacity-10 md:border-0;

  & > figure {
    @apply md:text-left md:text-sm;
    & > blockquote {
      @apply md:py-2;
    }
    & > figcaption {
      @apply md:font-bold;
    }
  }
}

body > main #contact-us {
  @apply bg-black text-white py-4 text-lg md:container md:mx-auto md:max-w-screen-md md:rounded-lg;
}

body > main #contact-us > main {
  @apply m-8 flex flex-col;
}

body > main #contact-us > main > a {
  @apply bg-white text-black rounded-md p-4 font-bold flex ml-auto;
}

body > main #posts { 
  @apply m-6;
}

body > main #posts > ol{
  @apply md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:gap-8 md:justify-items-stretch;
}

body > main #posts > ol > li{
  @apply my-2 py-4 border-b-2 border-gray-400 border-opacity-10 md:border-0 md:flex md:flex-col;
}

body > main #posts > ol > li:last-child {
  @apply border-b-0;
}

body > main #posts > ol > li > header {
  @apply w-full mb-2;
}

body > main #posts > ol > li > header h3{
  @apply text-xl py-1;
}

body > main #posts > ol > li > header > ol {
  @apply flex space-x-1;
}

body > main #posts > ol > li > header > ol > li {
  @apply flex text-sm;
}

body > main #posts > ol > li > header img{
  @apply object-cover w-full h-40 md:rounded-lg;
}

body > main #posts > ol > li > main {
  @apply my-1;
}

body > main #posts > ol > li > footer {
  @apply flex-1 flex-grow flex flex-col justify-end;
}

body > main #posts > ol > li > footer > a {
  @apply text-sm flex font-light justify-between py-1;
}

body > main > .newsletter-cta {
  @apply flex-col m-6 p-8 bg-black text-white rounded-lg;
  h2 {
    @apply text-3xl;
  }
  & > header {
    @apply mb-4 flex;
  }
  & > footer {
    @apply mt-4 flex w-full; 
    a {
      @apply _button w-full text-center;
    }
  }
  
}

body > footer {
  @apply bg-black text-white py-4;
  & > footer {
    @apply xl:container xl:mx-auto;
    & > header {
      @apply mx-6;
      img.logo {
        @apply filter invert hue-rotate-180;  
      }
    }
    & > ol.social {
      @apply flex mx-4 text-lg;
      li {
        @apply p-2;
      }
    }
    & > footer {
      @apply flex justify-between text-xs lg:text-base lg:my-4 mx-6;
    }
  }
}

body#contact-us {
  #calendar a {
    @apply mt-2;
  }
  & > main {
    @apply xl:container xl:mx-auto;
    & > section {
      @apply m-6;
      & > main {
        @apply bg-gray-100 p-6 rounded-lg sm:flex sm:flex-1;
        & > header {
          @apply mb-4 sm:flex sm:m-0 sm:w-1/2 sm:flex-none;
          img {
            @apply object-cover sm:flex sm:flex-1 drop-shadow-xl filter;
          }
        }
        & > main {
          @apply sm:flex sm:ml-4 sm:flex-col md:place-self-center md:self-center md:flex-grow xl:mx-8;
          p:first-child {
            @apply sm:font-bold;
          }
          & > .button {
            @apply text-center flex flex-col _button;
          }
          & > ol {
            @apply flex flex-col mt-2 lg:mt-4 lg:grid lg:grid-cols-2 lg:gap-2 lg:-mx-2;
            & > li {
              @apply text-bellow-600 flex flex-col align-middle;
              a {
                @apply _button_normal flex my-2 align-middle lg:my-0 lg:text-sm xl:text-base lg:px-2;
              }
              i {
                @apply text-xl align-middle mr-2;
              }
            }
          }
         form {
            @apply w-full flex flex-col mt-4 border-t-2 pt-2  sm:flex-1;
            button {
              @apply _button;
            }
            textarea {
              @apply p-2;
            }
            & > div {
              @apply flex flex-row my-2 -mx-2;
              & > div {
                @apply flex flex-col flex-grow mx-2;
                input {
                  @apply flex flex-row flex-grow w-full p-2;
                }
                label {
                  @apply text-xs flex px-2 py-1;
                }
              }
            }
          }
        }
       
      }
    }
  }
}

body#articles {
  & > main {
    @apply mx-6 xl:container xl:mx-auto;
    & > header {
      @apply pb-4 border-b-2 mb-4 xl:mx-6;
      & > nav {
        @apply text-lg flex justify-between bg-gray-200 p-2 mb-2 rounded-lg;
        h1 {
        @apply font-bold; 
        }
        & > a:last-child {
          @apply font-light;
          scan {
            @apply hidden;
          }
        }
      }
      & > article {
        @apply w-full border-2 rounded-lg relative;
        & > img {
          @apply object-cover absolute z-0 opacity-50 md:opacity-100 w-full h-full;
        }
        & > main {
          @apply z-50 top-0 m-4 p-4 bg-white bg-opacity-50 md:bg-opacity-90 relative rounded-lg md:w-1/2 xl:w-5/12 md:max-w-3xl;
          h1 {
            @apply font-bold pb-2 border-b-2 mb-1;
            & + p {
              @apply h-20 overflow-hidden overflow-ellipsis mb-2;
            }
          }
          footer {
            @apply flex w-full flex-row-reverse;
          a.button {
            @apply bg-gray-800 text-bellow-500 p-2 rounded-lg;
          }
          }
        }
      }
    }
    & > main {
      @apply  xl:mx-6;
      & > ul {
        @apply md:grid md:grid-cols-3 md:gap-4 lg:gap-6;
        & > li {
          @apply my-4 py-2 border-b-2 border-gray-400 border-opacity-10;
          & > article {
            @apply text-sm lg:text-base;
            & > img:first-child {
              @apply object-cover w-full h-40 rounded-lg shadow-lg mb-2;
            }  
            & > h2 {
              @apply font-bold text-lg;            
            }       
            & > ol {
              @apply flex w-full -mx-2 text-xs text-gray-700;
              & > li {
                @apply mx-2;
              }
            }
            & > p {
              @apply my-2 font-light;
            }
            & > footer {
              @apply flex justify-between text-xs lg:text-base lg:my-4;            
            }
          }
        }
      }
    }
  }
}

body#services {

  h2{ 
    @apply text-lg font-normal mb-4;
  }
  & > main {
    @apply xl:container xl:mx-auto;
    & > header {
      @apply m-6 pb-4 font-light text-lg tracking-tight leading-relaxed;    
      h1 {
        @apply text-5xl leading-tight font-bold tracking-tighter mt-4 sm:text-6xl md:py-2 md:text-8xl xl:text-9xl xl:tracking-tight xl:py-4;
      }
    }
    & > section {
      @apply m-6 pb-4;    
      &:last-child {
        @apply border-b-0;
      }
      
      &.products-cta {
        @apply flex bg-black text-white rounded-lg pb-0 lg:max-w-screen-md lg:mx-auto;
        & > main {
          @apply flex flex-col md:flex-row md:justify-between md:items-stretch p-6 text-2xl w-full;
          footer {
            @apply flex w-full md:w-auto justify-end;
          }
          h2 {
            @apply font-extralight md:my-0 text-3xl leading-tight tracking-tighter;
          }
        }
        a.button {
          @apply _button px-6;
        }
      }
      &.service {
        @apply sm:flex sm:items-stretch md:items-center lg:border-2 border-b-2 border-gray-50 lg:shadow-xl lg:rounded-lg lg:p-12;
        & >  header {
          @apply mr-4 lg:mr-8 sm:mb-0 sm:w-5/12 justify-self-center flex-grow-0 flex-shrink sm:flex;
          img {
            @apply object-cover sm:h-full sm:w-full;
          }
        }
        & > main {
          @apply flex-1 sm:flex-col justify-between items-stretch content-between;
          p {
            @apply lg:text-base;
          }
          & > footer {
           @apply hidden sm:flex w-full justify-end mt-4; 
           a.button {
             @apply _button_normal;
           }
          }
        }
        & > footer {
          @apply flex w-full mt-4 justify-items-stretch items-stretch sm:hidden;
          a.button {
            @apply _button w-full text-center;
          }
        }
      } 
       & > header {
         @apply mb-4;
       }
       & > main {
         & > header {
           @apply flex;
           & > img:first-child {
             @apply flex-grow-0 flex-shrink h-8 mr-2;
           }
           & > h2 {
             @apply flex-grow;
           }
         }
         & > p {
          @apply text-sm font-light;
         }
       }
       &#hero {
         @apply bg-gray-100 rounded-lg;
         h1 {
           @apply border-b-2 pb-2 border-gray-200;
         }
         p {
           @apply text-base;
         } 
         & > main {
           @apply flex md:max-w-lg lg:max-w-4xl xl:max-w-full items-center xl:items-stretch justify-center p-6 md:mx-auto xl:mx-0;
            & > div {
            }
            & > div:first-child {
              @apply lg:mr-12 hidden lg:flex justify-items-end lg:w-1/2 xl:w-1/4;
              img {
                @apply lg:flex;
              }
            }
            & > div:last-child {
              @apply hidden xl:flex ml-12;
              img {
                @apply object-cover;
              }
            }   
        }   
       }
    }
    & > section.cta {
      @apply m-6 ;
      & > main {
        @apply bg-gray-100 p-6 rounded-lg sm:flex sm:flex-1;
        & > header {
          @apply mb-4 sm:flex sm:m-0 sm:w-1/2 sm:flex-none;
          img {
            @apply object-cover sm:flex sm:flex-1;
          }
        }
        & > main {
          @apply sm:flex sm:ml-4 sm:flex-col md:place-self-center md:self-center md:flex-grow xl:mx-8;
          p:first-child {
            @apply sm:font-bold;
          }
          & > .button {
            @apply text-center flex flex-col _button;
          }
          & > ol {
            @apply flex flex-col mt-2 lg:mt-4 lg:grid lg:grid-cols-2 lg:gap-2 lg:-mx-2;
            & > li {
              @apply text-bellow-600 flex flex-col align-middle;
              a {
                @apply _button_normal flex my-2 align-middle lg:my-0 lg:text-sm xl:text-base lg:px-2;
              }
              i {
                @apply text-xl align-middle mr-2;
              }
            }
          }
         form {
            @apply w-full flex flex-col mt-4 border-t-2 pt-2  sm:flex-1;
            button {
              @apply _button;
            }
            textarea {
              @apply p-2;
            }
            & > div {
              @apply flex flex-row my-2 -mx-2;
              & > div {
                @apply flex flex-col flex-grow mx-2;
                input {
                  @apply flex flex-row flex-grow w-full p-2;
                }
                label {
                  @apply text-xs flex px-2 py-1;
                }
              }
            }
          }
        }
       
      }
    }
  }
}

body#about-us {
  & > main  {
   & > header {
     @apply m-6;
     & > h1 {
       @apply text-5xl font-bold md:text-6xl lg:text-8xl;
     }
   }
   
    & > section {
      @apply m-6 sm:my-12 flex flex-col md:flex md:flex-row sm:grid grid-cols-2 gap-4 place-items-stretch md:justify-items-stretch  md:items-stretch;
      &:nth-of-type(even) {
        @apply md:flex-row-reverse;
      }
      & > header {
        @apply w-full flex-shrink  justify-center md:flex flex-1 lg:w-1/3;
        img, video {
        @apply sm:h-full object-cover place-self-stretch rounded-lg w-full h-full md:flex md:h-full backdrop-filter backdrop-blur-lg;  
        }
      }
      & > main {
        @apply mt-4 sm:mt-0 place-self-center flex-1 lg:w-auto md:w-1/2 md:h-full flex-grow;

        & > main {
          @apply mt-2 font-thin lg:text-xl flex flex-col;
          &:only-child {
            @apply mt-0 text-xl lg:text-2xl;
          }
          p {
            @apply my-2;
          }
          a.button {
            @apply _button my-2 w-full text-center;
          }
          hr {
            @apply my-2;
          }
        }
      }
    }
 }
}

body#products {
  & > main {
    & > ol {
      & > li {
        @apply m-6 pb-4 md:pb-0 lg:mb-8 xl:mb-16;
        &.open-source {
          & > section {
            @apply md:bg-bellow-300 md:border-bellow-400;
          }
        }
        & > section {
          @apply md:bg-gray-100 p-0 md:p-6 lg:p-10 xl:p-12 rounded-xl md:shadow-lg md:border-2 md:border-white; 
          & > main {
            @apply pt-2 md:py-4 border-t-2 border-b-2 md:border-0 font-thin text-sm md:text-lg xl:text-xl;
            h3, p, li {
              @apply mb-2;
            }
            li {
              @apply list-inside list-disc;
            }
            & > ol {
              @apply md:my-2;
              &.press-coverage {
                @apply flex-col md:flex-row md:justify-around -mt-2;
                & > li {
                  &:first-child {
                    @apply border-none;
                  }
                  @apply border-t-2 border-gray-200 md:border-0 py-4;
                  figure {
                    @apply flex flex-col;
                    blockquote {
                      @apply italic py-2 text-lg font-light text-justify;
                    }
                    figcaption {
                      @apply flex justify-between;
                      .name {
                        @apply font-black;
                      }
                    }
                  }
                  
                }
              }
              & > li {
                @apply hidden;
                & > img {
                  @apply rounded-lg opacity-90 border-2 border-gray-400 object-cover;
                  &:hover {
                    @apply opacity-100 transition-opacity duration-300 ease-in-out  border-gray-200;
                  } 
                }
              }
              & > li:first-child {
                @apply flex;
              }

              & > li:nth-child(2) {
                @apply flex;
              }

              & > li:nth-child(3) {
                @apply lg:flex;
              }

              &.screenshots.portrait {
                @apply justify-between;
                & > li:nth-child(3) {
                  @apply flex;
                }
                & > li:nth-child(4) {
                  @apply md:flex;
                }
                & > li:nth-child(5) {
                  @apply md:flex;
                }
                & > li {
                  @apply h-60 w-28 flex-shrink-0;
                  @apply md:w-32 md:h-72;
                  @apply lg:w-36 lg:h-80;
                  @apply xl:w-44 xl:h-96;
                  & > img {
                    @apply object-cover;
                  }
                }
              }
              &.screenshots.square {
                @apply justify-between;
                & > li:nth-child(3) {
                  @apply flex;
                }
                & > li:nth-child(4) {
                  @apply md:flex;
                }
                & > li:nth-child(5) {
                  @apply md:flex;
                }
                & > li {
                  @apply h-28 w-28 flex-shrink-0;
                  @apply md:w-32 md:h-32;
                  @apply lg:w-36 lg:h-36;
                  @apply xl:w-44 xl:h-44;
                  & > img {
                    @apply object-cover;
                  }
                }
              }
            }
          }
          ol {
            @apply flex text-sm -mx-2;
            & > li {
              @apply p-2 text-gray-600;
              & > a{
                @apply text-black;
                &:hover {
                  @apply underline;
                }
              }
            }
          }
          & > header {
            & > a:first-child {
              @apply flex flex-row-reverse sm:flex-row justify-between sm:justify-start items-center mb-2 md:mb-4 lg:no-underline lg:border-b-2 lg:pb-2 no-underline text-gray-900;
              @apply transition-all;
              & > img {
                @apply w-12 h-12 md:w-20 md:h-20 lg:w-24 lg:h-24 mr-4 object-contain rounded-full opacity-95;
              }
              & > h2 {
                @apply text-4xl font-light md:text-7xl lg:text-8xl;
              }
              &:hover {
                @apply text-black bg-transparent underline;
                & > img {
                  @apply opacity-100;
                }
              }
            }
          }
          & > footer {
            @apply mt-4 md:mt-0;
            & > section {
              & > h4 {
                @apply text-xs font-light;
              }
            }
          }
        }
      }
    }
  }
}

body {
  & > main.section {
    @apply my-6;
    & > header {
      @apply mb-8 mx-6 border-b-2 border-bellow-500;
      & > section {
        h1 {
          @apply text-6xl leading-normal font-bold;
        }
        p {
          @apply text-lg mt-4;
        }
      }
      
      & > .hero{
        @apply flex flex-col sm:grid sm:grid-cols-2 sm:gap-4 mb-8 lg:flex-row;
        & > form {
          @apply w-full flex flex-col mt-4 pt-2  sm:flex-1;
          button {
            @apply _button;
          }
          & > div {
            @apply flex flex-row my-2 -mx-2;
            & > div {
              @apply flex flex-col flex-grow mx-2;
              input {
                @apply flex flex-row flex-grow w-full p-2 rounded border-2;
              }
              label {
                @apply text-xs flex px-2 py-1;
              }
            }
            &.message {
              @apply pt-4;
              h3 {
                @apply text-bellow-600 font-bold mb-4;
              }
              ol {
                @apply list-disc ml-4 text-sm ;
              }
            }
          }
        }
      }
    }
    header > .hero > .featured, & > section > ol > li {
      @apply p-8 mb-8 sm:mb-0 bg-gray-100 rounded-lg shadow-lg;
     
      & > header {
        @apply sm:flex flex-col;
        h2 {
          @apply my-4 sm:mt-2 text-base font-normal font-bold;
        }
      }
      & > main {
        @apply my-4 sm:mt-0 text-sm;
      }
      & > footer {
        @apply text-xs;
      }
    }
    & > section {
      @apply mx-6;
      & > ol {
        @apply sm:grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-3;  
        & > li {
          & > header {
            
            & > img {
              @apply sm:flex sm:h-48 lg:h-60 object-cover;
            }
          }
        }
      }
      
    }
    header > .hero:only-child {
      @apply sm:flex;
    }
    header > .hero {
      & > .featured {
        
        @apply bg-bellow-200 mb-4 sm:mt-4 lg:max-w-sm;
        & > header {
          & > h3 {
            @apply font-light text-xs mb-4 border-b-2 border-bellow-500;
          }
          & > img {
            @apply object-cover md:max-h-60;
          }
        }
        &:only-child {
          @apply sm:flex sm:w-full lg:max-w-full;
          & > header {
            @apply sm:w-full sm:mr-4  lg:w-1/2;
            & > img {
              @apply sm:rounded-lg h-full object-cover;
            }
          }
          h2 {
            @apply mb-4 lg:text-xl xl:text-2xl;
          }
          & > footer {
            @apply sm:hidden;
          }
          & > main {
            @apply sm:flex-col sm:flex sm:mb-0;
            & > main {
              @apply sm:flex lg:text-base lg:font-thin xl:text-lg xl:leading-relaxed xl:tracking-wide mb-4 flex-grow;  
            }
            & > footer {
              & > a:first-child {
                @apply hidden;
              }
            }
          }
        }
      }
    }
  }
}

#episodes {
  main.section {
   .featured, li {

      img {
        @apply rounded 
      }
      & > header {
        & > img {
        }
        & > a > h2 {
          @apply text-xl tracking-tight;
        }
        .publish-date {
          @apply text-sm font-light;
        }
      }
      & > main {
        & > main {
          & > p {
            @apply text-base font-extralight;
          }
        }
        
        img, .publish-date  {
          @apply hidden;
        }
        .publish-date {
          @apply text-sm;
        }

      }
      & > footer {
        @apply flex justify-between;
        & > main {
          @apply flex justify-between text-sm;
        }
        
      }

      iframe {
        @apply hidden;
      }
    }

    li {
      @apply sm:flex sm:flex-col;
      img {
      }
      & > header {
        @apply sm:flex-none;
        & > img {
          
        }
        & > a > h2 {
          @apply sm:text-base md:text-lg lg:text-xl md:my-4;
        }
        .publish-date {
        }
      }
      & > main {
        @apply sm:flex sm:flex-1 md:leading-relaxed md:text-base;
        & > main {
          & > p {
          }
        }
        
        img, .publish-date  {
          @apply hidden;
        }
        .publish-date {
        }

      }
      & > footer {
        @apply flex justify-between sm:flex-none  md:text-sm;
        & > iframe {
        }
        & > main {
          @apply flex justify-between text-sm;
        }
        
      }

      iframe {
        @apply hidden;
      }
    }

    .featured {
      img {
        @apply rounded 
      }
      & > header {
        @apply  lg:py-4;
        & > .episode-no {
          @apply hidden lg:flex text-sm font-extralight;
        }
        & > a > img {
          @apply lg:hidden;
        }
        & > a > h2 {
          @apply text-xl tracking-tight lg:leading-tight lg:tracking-normal sm:text-2xl md:text-3xl xl:text-4xl;
        }
        .publish-date {
          @apply text-sm font-light lg:hidden;
        }
      }
      & > main {
        & > main {
          & > p {
            @apply text-base font-extralight md:text-lg lg:text-xl lg:flex xl:text-2xl xl:leading-relaxed xl:tracking-wider lg:tracking-wide lg:leading-normal xl:font-normal;
          }
        }
        & > a {
          @apply lg:mr-4 xl:mr-8 w-1/2 flex-none;
        }
        
        img, .publish-date  {
          @apply hidden lg:flex;
        }
        .publish-date {
          @apply text-sm;
        }

      }
      & > footer {
        @apply flex w-full flex-col lg:my-8;
        & > iframe {
          @apply md:flex;
        }
        & > main {
          @apply flex justify-between text-sm md:text-base w-full mt-4 xl:text-xl;
        }
        
      }

      iframe {
        @apply hidden;
      }
    }

    .featured {
      @apply sm:flex-col;
      & > header {
        @apply sm:flex-col;
        & > a > img {
          @apply sm:max-h-full;
        }
        h2 {
          @apply sm:text-2xl sm:pt-4;
        }
      }
      & > main {
        @apply  lg:w-1/2;
        & > p {
          @apply sm:text-lg;
        }


        & > iframe {
          @apply sm:block my-4;
        }
      }

      & > footer {
        @apply sm:text-base;
        a {
          @apply font-bold;
        }
      }
    }

    .featured {
      @apply lg:flex-col;
      & > header {
        @apply lg:flex lg:w-full;
        
      }
      & > main {
        @apply lg:flex-row lg:w-full;
        & > a {
          @apply lg:w-1/2;
        }
        & > main {
          @apply  lg:flex-col;
        }


      }

      & > footer {
       @apply lg:flex-col;
       & > main {
         @apply flex lg:flex-row justify-between;
       }

      }
    }
  }

}

body.episodes {
  & > main {
    & > header {
      @apply sm:flex sm:flex-row-reverse sm:mb-4;
      ol:first-child {
        @apply flex justify-between text-sm sm:flex-col flex-1 sm:justify-center sm:items-start sm:text-base md:text-lg lg:text-2xl lg:font-extralight lg:tracking-widest lg:justify-between lg:p-8;
        li {
          @apply sm:px-4 sm:p-1 sm:m-1 lg:p-2 lg:m-2;
        }
        li:first-child {
          @apply font-bold;
        }
      }
      h1 {
        @apply text-lg my-2 font-bold sm:hidden;
      }
      img {
        @apply hidden sm:flex sm:flex-none rounded-sm;
        &[src^="https://i.ytimg.com"] {
          @apply sm:w-1/2;
          aspect-ratio: 16/9;
        }
        &[src^="https://images.transistor.fm"] {
          @apply sm:w-1/3;
          aspect-ratio: 1;
        }
      }
    }
    & > main {
      @apply mx-6;
      & > header {
        @apply md:border-t-2 md:py-4 md:my-8;
        img {
          @apply my-4 sm:hidden;
        }
        h1 {
          @apply hidden sm:block text-xl font-bold md:text-2xl md:my-4 lg:text-4xl lg:my-12;
        }
        & > main {
          @apply flex my-2 flex-row-reverse sm:text-lg items-center sm:my-4 md:leading-loose md:text-xl md:tracking-wide font-extralight;
          & > .description{
            @apply sm:mr-8 md:mr-20;
          }
          & > img.album {
            @apply hidden sm:flex w-1/5 md:w-1/4 lg:w-56;
          }
        }
        .media {
          @apply flex justify-end text-lg my-2 sm:justify-start;
          li {
            @apply ml-2 sm:ml-0 sm:mr-4 md:mr-8;
          }
          .specs {
            @apply hidden sm:inline font-extralight;
            .source {
              @apply hidden md:inline italic;
            }
          }
        }
      }
      & > main {
        .content {
          @apply flex flex-col my-2 lg:flex-row-reverse lg:items-stretch;
          
          iframe {
            @apply w-full my-2;
            &[src*="youtube"] {
              aspect-ratio: 16/9;
              @apply lg:w-auto lg:mr-8;
            }
          }
        }
        .show-notes {
          @apply text-sm border-t-2 pt-4 mt-2 sm:text-base lg:text-lg;
          ul {
            @apply list-disc list-inside my-2;
          }
          & > p {
            @apply my-2;
          }

          a {
            @apply font-bold;
          }
          a::before {
            font-family: flaticon !important;
            font-style: normal;
            font-weight: normal !important;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
          a[href^="https://share.transistor.fm"]::before {
            content: "\f104";
          }
          a[href^="https://twitter.com/"]::before {
            content: "\f101";
          }
          a[href^="https://youtu.be/"]::before {
            content: "\f102";
          }
          
        }
      }
    }
  }
}

body.articles, body.tutorials {
  h1 {
    @apply text-2xl font-bold py-2;
  }
  & > main {
    @apply  xl:container xl:mx-auto;

  a {
    @apply text-bellow-600 font-semibold;
  }
    & > header {
      @apply py-2 mx-6 md:flex-col md:mx-0 md:h-80 md:relative md:mb-4;
      & > header {
        & > img {
          @apply h-40 md:h-80 w-full object-cover md:absolute md:z-0;
        }
        h1 {
          @apply z-50 md:relative md:mx-6 md:backdrop-grayscale md:backdrop-blur md:backdrop-brightness-50 md:backdrop-filter md:p-8 top-4 md:text-white md:text-6xl lg:mr-48 xl:mr-96 lg:tracking-tight lg:leading-none;
        }
      }
      & > footer {
        @apply flex m-0 justify-between items-baseline md:absolute md:text-white md:z-50 md:bottom-2 md:backdrop-grayscale md:backdrop-blur md:backdrop-brightness-50 md:backdrop-filter md:left-6;
        & > ol {
          @apply flex -ml-2 md:ml-0;
          & > li {
            @apply contents;
            & > a {
              @apply text-xl p-2  md:text-white md:flex md:items-baseline md:bg-bellow-500 md:bg-opacity-50 md:px-2 md:mr-2;
              span {
                @apply hidden md:inline md:text-xs md:mr-1 md:opacity-50;
                &.name {
                  @apply md:opacity-100 lg:text-base;
                }
              }
            }
          }
        }
        & > .readtime {
          @apply font-extralight text-gray-600 md:text-white md:px-2;
        }
      }
    }
    & > main {
      @apply leading-tight border-t-2 border-gray-200 py-2 mx-6 md:border-0 lg:text-lg;
      h2 {
        @apply text-xl py-2 md:text-2xl lg:text-4xl xl:text-6xl xl:mt-8 xl:py-8 md:py-4 md:mt-4 md:tracking-tight;
      }
      h3 {
        @apply text-lg font-semibold py-1 xl:text-4xl xl:py-4 md:mt-4 xl:tracking-tight;
      }
      h4 {
        @apply text-base font-semibold py-1 xl:text-2xl xl:py-2 md:mt-2;
      }
      h5 {
        @apply text-base font-semibold py-1 text-gray-700 xl:text-black xl:text-xl;
      }
      p {
        @apply py-2;
      }
      blockquote {
        @apply ml-8 tracking-tight italic;
      }
      ol, ul {
        @apply list-disc list-inside;
      }
      li {
        @apply ml-4;
      }
      img {
        @apply w-full mt-4 h-40 object-cover sm:h-48 md:h-64 lg:h-80 xl:h-96;
        &.full-size {
          @apply w-auto h-auto;
          @apply xl:max-w-2xl xl:mx-auto;
        }
        &.thumbnail-inline {
          @apply h-6 w-auto inline-block my-auto;
        }
      }
      iframe {
        @apply w-full h-auto my-2;
        aspect-ratio: 16/9;
        @apply xl:max-w-2xl xl:mx-auto;
        &[src^="https://share.transistor.fm"]  {
          @apply xl:max-w-none;
          height: 180px;
        }
      }
      code {
        color: #9B2393;

      }
      figure {
        @apply my-2;
      }
      figcaption {
        @apply text-sm italic text-center;
      }
      pre code {
        @apply whitespace-pre-wrap text-xs font-extralight p-4 bg-gray-900 text-white block my-4 lg:text-base lg:p-8;      

        .keyword {
          @apply font-bold;
          color: #FC5FA3;

        }

        .type {
          color: #9EF1DD;
        }

        .call {
          color: #67B7A4 ;
        }

        .property {
          color: #21ab9d;
        }

        .number {
          color: #db6f57;
        }

        .string {
          color: #fa641e;
        }

        .comment {
          color: #6b8a94;
        }

        .dotAccess {
          color: #92b300;
        }

        .preprocessing {
          color: #b68a00;
        }

      }
    }
    & > footer {
      @apply flex flex-col mx-6;
      & > ol {
        @apply border-b-2 border-t-2 border-gray-200 py-2 text-2xl sm:text-3xl md:justify-start mb-2 -ml-2 items-stretch justify-between flex lg:py-6;
        & > li {
          @apply contents;
          & > a {
            @apply text-xl p-2 text-bellow-600 md:text-black flex items-baseline mr-1 md:mr-4 md:text-2xl md:bg-bellow-500 md:p-4 md:px-4 md:rounded-lg text-black;
            span {
              @apply text-base mr-1 md:text-lg;
              &.action {
                @apply hidden sm:inline text-xs text-gray-400 flex-1 flex-grow flex-shrink-0 mr-0 md:mr-1;
              }
            }
          }
        }
      }
      & > main {
        @apply mt-2 md:flex md:flex-row md:items-center;
        h2 {
          @apply my-2;
        }
        p {
          @apply my-2;
        }
        & > main {
          @apply md:flex-1 md:mr-4 md:mb-4;
        }
        & > form {
          @apply w-full flex flex-col my-4 pt-2 md:flex-1 lg:w-1/3 lg:flex-grow-0 lg:flex-none;
          button {
            @apply _button;
          }
          & > div {
            @apply flex flex-row my-2 -mx-2;
            & > div {
              @apply flex flex-col flex-grow mx-2;
              input {
                @apply flex flex-row flex-grow w-full p-2 rounded border-2;
              }
              label {
                @apply text-xs flex px-2 py-1;
              }
            }
          }
        }
      }
      
    }
  }
}