@font-face {
    font-family: "flaticon";
    src: url("./Flaticon.ttf?53ec3372f28287715735ed3530328f66") format("truetype"),
url("./Flaticon.woff?53ec3372f28287715735ed3530328f66") format("woff"),
url("./Flaticon.woff2?53ec3372f28287715735ed3530328f66") format("woff2"),
url("./Flaticon.eot?53ec3372f28287715735ed3530328f66#iefix") format("embedded-opentype"),
url("./Flaticon.svg?53ec3372f28287715735ed3530328f66#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-twitter:before {
    content: "\f101";
}
.flaticon-youtube:before {
    content: "\f102";
}
.flaticon-github:before {
    content: "\f103";
}
.flaticon-podcast:before {
    content: "\f104";
}
.flaticon-rss:before {
    content: "\f105";
}
.flaticon-newsletter:before {
    content: "\f106";
}
